@{
    ViewData["Title"] = "Olvidé mi contraseña U.U";
    Layout = "_LayoutIdentity";
}

<h2>@ViewData["Title"]</h2>
<p>
    Por favor, revisa tu correo elctrónico para iniciar los pasos de restauración de la contraseña.
</p>
