<h1>Las asignaturas que seleccioné</h1>

<br/>

<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action">
    Lecutura Musical
  </a>

  <a href="#" class="list-group-item list-group-item-action">
      Armonía
  </a>

  <a href="#" class="list-group-item list-group-item-action">
      Contrapunto y Fuga.
  </a>

</div>